<div class="container-fluid">
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <select class="form-control" ng-model="search.lookingFor">
          <option ng-repeat="term in searchParams.looking_for" value="{{term}}">{{$index === 0 ? 'Looking for' : term}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <select class="form-control" ng-model="search.stage">
          <option ng-repeat="term in searchParams.stage" value="{{term}}">{{$index === 0 ? 'Stage' : term}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <select class="form-control" ng-model="search.funding_stage">
          <option ng-repeat="term in searchParams.funding_stage" value="{{term}}">{{$index === 0 ? 'Funding Stage' : term}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <select class="form-control" ng-model="search.num_people_in_venture">
          <option ng-repeat="term in searchParams.num_people_in_venture" value="{{term}}">{{$index === 0 ? 'Number of People' : term}}</option>
        </select>
      </div>
    </div>
  </div>
</div><!-- /.container-fluid -->
Showing {{filtered.length}} results
<div class="panel panel-default" ng-repeat="user in filtered = (users | filter: {
num_people_in_venture: search.num_people_in_venture,
stage: search.stage,
funding_stage: search.funding_stage,
looking_for: search.looking_for})">
  <div class="panel-heading">
    <h4>{{user.name}}</h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-4">{{user.industry_category}}</div>
      <div class="col-lg-2">{{user.stage}}</div>
      <div class="col-lg-2">{{user.funding_stage}}</div>
      <div class="col-lg-2">{{user.city}}</div>
      <div class="col-lg-2">{{user.num_people_in_venture}} Employees</div>
    </div>
    <div class="row">
      <div class="col-lg-12">{{user.description}}</div>
    </div>
    <div class="row">
      <div class="col-lg-4"><a href="mailto:{{user.email}}">Contact</a></div>
    </div>
  </div>
</div>
<!--{{users}}-->
